.clients-container{
  margin-top: 80px;
  max-width: 1600px !important;
  padding: 0 20px;
}

.client-custom-card {
  width: 274px;
  height: 97px;
  padding: 8px 52px;
  border-radius: 40px 0 40px 0;
  box-shadow: 0px 0px 10px 0px #00000040;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 1400px) {
  .clients-container {
    max-width: 1200px !important;
  }
}

@media (max-width: 1200px) {
  .clients-container {
    max-width: 960px !important;
  }
}

@media (max-width: 992px) {
  .clients-container {
    max-width: 720px !important;
    margin-top: 60px;
    padding: 0 15px;
  }
  
  .client-custom-card {
    max-width: 200px; /* Adjust width for tablets */
  }
}

@media (max-width: 768px) {
  .clients-container {
    max-width: 540px !important;
    padding: 0 10px;
  }
}

/* Mobile Phones */
@media (max-width: 576px) {
  .clients-container {
    margin-top: 40px; /* Reduce top margin for mobile */
    padding: 0 10px;
  }

  .client-custom-card {
    max-width: 150px; /* Adjust width for mobile */
    padding: 8px;
  }

  .clients-container .row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the cards */
  }

  .clients-container .col-md-3 {
    display: flex;
    justify-content: center; /* Center align the column */
    margin-bottom: 20px; /* Space between cards */
  }
}