.about-us-container{
  margin-top: 80px;
  padding: 60px 24px;
  background: linear-gradient(180deg, rgba(15,114,181,0.03), transparent 60%);
  border-radius: 12px;
}

.about-us-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 63px; 210% */
  text-align: left;
  color: #000000;
  /* margin-bottom: 20px; */
}

.about-us-tagline {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 63px; 394% */
  text-transform: uppercase;
  color: #03254B;
  /* margin-bottom: 20px; */
  /* padding: 5px; */
}

.about-us-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px; /* 169% */
  color: #333333;
  text-align: justify;
  display: inline-block;
  width: 85%;
  /* top: 299px; */
  /* left: 81px; */
  position: relative;
}

.about-us-image-parent {
  position: relative;
}

.about-us-image {
  top: -1.1%;
  width: 101.89%;
  max-width: 100%;
  height: 113.92%;
  object-fit: cover;
  border-radius: 100px 0px 100px 0px;
  box-shadow: 4px 4px 20px 0px #00000026;
  background: #000000;
}

.about-us-child {
  /* position: absolute; */
  /* top: 15.61%; */
  left: 73.48%;
  border-radius: .5rem;
  border: .3rem solid var(--cta-colour);
  box-sizing: border-box;
  width: 30%;
  height: 31%;
}

.about-us-item {
  /* position: absolute; */
  /* top: 59.07%; */
  /* left: 46.82%; */
  border-radius: .5rem;
  border: .3rem solid var(--brand-colour);
  width: 20%;
  max-width: 100%;
  height: 31%;
}


@media (min-width: 768px) {
  .about-us-description {
    width: 85%;
  }

  .about-us-child {
    display: block;
    position: absolute;
    top: -50px;
    left: 260px;
    width: 301px;
    height: 297px;
    border-radius: 5px 0px 0px 0px;
    border: 4px solid #FA7226;
    z-index: -1;
  }

  .about-us-item {
    display: block;
    position: absolute;
    top: 219px;
    left: -44px;
    width: 301px;
    height: 297px;
    border-radius: 5px 0px 0px 0px;
    border: 4px solid #03254B;
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .about-us-header {
    font-size: 24px;
    text-align: center;
  }

  .about-us-tagline {
    font-size: 14px;
    text-align: center;
  }

  .about-us-description {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    width: 100%;
  }

  .about-us-image {
    border-radius: 50px 0px 50px 0px; /* Adjusted border radius for smaller screens */
  }

  .about-us-child,
  .about-us-item {
    display: none; /* Hide on mobile */
  }
}

@media (min-width: 1200px) {
  .about-us-container {
    max-width: 1140px;
    margin: 0 auto;
  }
}






















/* 
.about-us-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 63px;
  color: #000000;
  margin-bottom: 20px;
}

.about-us-tagline {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 63px; 
  text-transform: uppercase;
  color: #03254B;
  margin-bottom: 20px;
}

.about-us-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px; 
  text-align: justify;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

/* About Us right section styles */
.about-us-child {
  width: 301px;
  height: 297px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 4px solid #FA7226;
  position: absolute;
  top: -50px;
  left: 260px;
  z-index: -1;
}

.about-us-item {
  width: 301px;
  height: 297px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 4px solid #03254B;
  position: absolute;
  top: 219px;
  left: -44px;
  z-index: -1;
}

.about-us-image-parent {
  position: relative;
}

.about-us-image {
  width: 100%;
  height: auto;
  border-radius: 100px 0px 100px 0px;
  opacity: 1;
  box-shadow: 4px 4px 20px 0px #00000026;
  background: #000000;
} 
