.navbar-nav .nav-link {
  transition: color 0.3s, background-color 0.3s;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: left;
  color: #000000;
}

.navbar-nav .nav-link:hover {
  color: #ffff;
  background-color: #FA7226;
  border-radius: 4px;
}

.contact-us-btn {
  background-color: #fa7226 !important;
  border: none !important;
  font-family: "Raleway" !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 21.13px;
}

.contact-us-btn:hover {
  background-color: #fa7226;
  color: white;
}

.contact-us-btn {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
.dropdown-toggle {
  border: 1px solid #007bff;
  color: #007bff;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
}

.dropdown-toggle:hover {
  background-color: #fa7226;
  color: #ffffff;
}
