.portfolio-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

/* Image and overlay styling */
.image-container {
  position: relative;
}

.portfolio-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0c5f9bc2 56.41%, #0420354a);
  z-index: 1;
  display: flex;
}

/* Text content styling */
.text-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  /* width: 694px;
  height: 55px; */
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 63px;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  /* width: 736px;
  height: 54px; */
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}

/* Categories container styling */
.categories-container {
  position: absolute;
  top: 496px;
  width: 80%;
  height: auto;
  background: #03254bc2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  flex-wrap: wrap;
}

.categories-container-parent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category styling */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  flex: 1; /* Allow categories to grow/shrink */
  min-width: 120px; /* Ensure a minimum width */
  margin-bottom: 15px;
}

.category.active {
  border-bottom: 4px solid #FFFFFF; 
}

.category-icon {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.category-title {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; 
}


/* Responsive styling */
@media (max-width: 1200px) {
  .text-content {
    top: 18%;
    transform: translate(-50%, -18%);
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }

  .categories-container {
    width: 90%;
    padding: 15px;
  }
  .categories-container {
    position: relative;
    top: 10px;
  }
}

@media (max-width: 992px) {
  .text-content {
    top: 16%;
    transform: translate(-50%, -16%);
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 14px;
  }

  .categories-container {
    width: 100%;
    position: relative;
    flex-direction: column;
    padding: 10px;
  }

  .category {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .text-content {
    top: 14%;
    transform: translate(-50%, -14%);
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }

  .categories-container {
    width: 95%;
    flex-direction: column;
    padding: 10px;
    position: relative;
  }

  .category {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .text-content {
    top: 12%;
    transform: translate(-50%, -12%);
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 12px;
  }

  .categories-container {
    width: 95%;
    flex-direction: column;
    padding: 10px;
  }

  .category {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .categories-container {
    position: relative;
    top: 10px;
  }
}