.wework-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 80px;
}

.who-we-work-header {
  font-weight: bold;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 700;
  line-height: 35.22px;
  color: #000000;
}

.description {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  width: 100%;
  max-width: 965px;
  margin: 10px auto;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card-wrapper {
  position: relative;
  width: 150px;
  height: 175px;
  margin: 10px;
  text-align: center;
}

.card-border {
  position: absolute;
  border-radius: 24px 0 24px 0;
  border: 2px solid #fa7226;
  box-sizing: border-box;
  width: 152px;
  height: 145px;
  top: 0;
  left: 0;
}

.image-wrapper {
  position: absolute;
  top: -15px;
  left: 15px;
  width: 150px;
  height: 145px;
  border-radius: 24px 0 24px 0;
  overflow: hidden;
  box-shadow: 0.95px 0.95px 4.77px 0px #00000026;
  border: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03254b;
}

.image-overlay {
  width: 100px;
  height: 100px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-caption {
  margin-top: 153px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  text-align: center;
  color: #000000;
}

.arrow-icon {
  margin-top: 15px;
}

.arrow-icon {
  width: 125px;
  height: auto;
  margin-top: -40px;
  margin-left: 8px;
  margin-right: 8px;
}



/* Tablets and smaller screens */
@media (max-width: 768px) {
  .who-we-work-header {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
    max-width: 90%;
    margin: 10px auto;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card-wrapper {
    width: 120px;
    height: 145px;
  }

  .card-border {
    width: 122px;
    height: 135px;
  }

  .image-wrapper {
    width: 120px;
    height: 135px;
  }

  .card-caption {
    font-size: 12px;
    width: 170px;
    text-align: center;
    display: flex;
  }
  .arrow-icon {
    display: none;
  }
}

/* Mobile phones */
@media (max-width: 576px) {
  .who-we-work-header {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
    max-width: 90%;
    margin: 10px 5%;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  

  .card-wrapper {
    width: 100px;
    height: 125px;
  }

  .card-border {
    width: 102px;
    height: 115px;
  }

  .image-wrapper {
    width: 100px;
    height: 115px;
  }

  .card-caption {
    font-size: 12px;
    width: 170px;
    text-align: center;
    display: flex;
  }

  .arrow-icon {
    display: none;
  }
}
