.transformation-container {
  margin-top: 80px;
}

.transformation-heading h3 {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
}

.transformation-image {
  max-width: 100%;
  height: 553px;
  overflow: hidden;
  object-fit: cover;
}

.custom-card {
  /* width: 558px; */
  height: 164px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px #00000026;
  position: relative;
}

.card-image-background {
  width: 56px;
  height: 56px;
  background: #03254bd4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 22px;
  position: absolute;
}

.card-image-wrapper {
  width: 49px;
  height: 46px;
  padding: 11px 12px 11px 13px;
  background: #ffffff;
  border-radius: 5px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3px;
  left: 15px;
  overflow: hidden;
  border-radius: 5px;
}

.card-image {
  width: 24px;
  height: 24px;
}
.card-heading {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #03254b;
  width: 155px;
  height: 21px;
  top: 17px;
  left: 116px;
  position: relative;
}

.card-description {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 426px;
  height: 63px;
  top: 46px;
  left: 116px;
  color: #000000;
  position: relative;
}



/* Medium screens (tablets) */
@media (max-width: 768px) {
  .transformation-heading h3 {
    font-size: 24px;
  }

  .transformation-image {
    height: 400px;
  }

  .custom-card {
    height: auto; /* Adjust height for better fit */
    margin-bottom: 20px;
  }

  .card-image-background {
    width: 48px;
    height: 48px;
    top: 20px;
    left: 15px;
  }

  .card-image-wrapper {
    width: 40px;
    height: 36px;
    padding: 8px 10px;
    top: -2px;
    left: 10px;
  }

  .card-image {
    width: 20px;
    height: 20px;
  }

  .card-heading {
    font-size: 20px;
    width: auto;
    left: 80px;
  }

  .card-description {
    font-size: 12px;
    width: auto;
    left: 80px;
  }
}

/* Small screens (mobile phones) */
@media (max-width: 576px) {
  .transformation-container {
    margin-top: 40px;
  }

  .transformation-heading h3 {
    font-size: 20px;
  }

  .transformation-image {
    height: 300px;
  }

  .custom-card {
    height: auto; /* Adjust height for better fit */
    margin-bottom: 15px;
    padding: 10px; /* Add padding for better spacing */
  }

  .card-image-background {
    width: 40px;
    height: 40px;
    top: 15px;
    left: 10px;
  }

  .card-image-wrapper {
    width: 32px;
    height: 30px;
    padding: 8px;
    top: -2px;
    left: 8px;
  }

  .card-image {
    width: 18px;
    height: 18px;
  }

  .card-heading {
    font-size: 18px;
    width: auto;
    left: 50px;
  }

  .card-description {
    font-size: 12px;
    width: auto;
    left: 50px;
  }
}